
<div class="container">


  <div class="page-header">
    <h1>So, you've found Plantah!</h1>
    <div class="col-sm-offset-1">
      <br>
      <p>Hopefully, we can answer some of your questions.</p>
    </div>
  </div>

  <br>
  <br>

  <div class="container-content">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-1">

        <div class="col-sm-5">
          <h2>What is Plantah?</h2>
        </div>

        <div class="row">
          <div class="col-sm-offset-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis id sapien ac interdum. Nullam quis orci non ipsum ullamcorper placerat. Cras nec libero consectetur, consectetur arcu in, facilisis lorem. Ut dapibus risus porttitor elit dictum fringilla. Sed et lacus porttitor elit semper pulvinar. Praesent pulvinar elit id ipsum consequat, sit amet semper nunc ultrices. Fusce rutrum ligula a magna sollicitudin, eget fringilla nisi tempor. Phasellus feugiat, velit vitae convallis semper, risus ex pretium ligula, a pretium erat tortor vitae dui. Praesent at imperdiet erat.</p>
          </div>
        </div>

      </div>
    </div>
  </div>



  <div class="container-content">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-1">

        <div class="col-sm-5">
          <h2>How does Plantah Work?</h2>
        </div>

        <div class="row">
          <div class="col-sm-offset-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis id sapien ac interdum. Nullam quis orci non ipsum ullamcorper placerat. Cras nec libero consectetur, consectetur arcu in, facilisis lorem. Ut dapibus risus porttitor elit dictum fringilla. Sed et lacus porttitor elit semper pulvinar. Praesent pulvinar elit id ipsum consequat, sit amet semper nunc ultrices. Fusce rutrum ligula a magna sollicitudin, eget fringilla nisi tempor. Phasellus feugiat, velit vitae convallis semper, risus ex pretium ligula, a pretium erat tortor vitae dui. Praesent at imperdiet erat.</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container-content">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-1">

        <div class="col-sm-5">
          <h2>What is Plantah's future?</h2>
        </div>

        <div class="row">
          <div class="col-sm-offset-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis id sapien ac interdum. Nullam quis orci non ipsum ullamcorper placerat. Cras nec libero consectetur, consectetur arcu in, facilisis lorem. Ut dapibus risus porttitor elit dictum fringilla. Sed et lacus porttitor elit semper pulvinar. Praesent pulvinar elit id ipsum consequat, sit amet semper nunc ultrices. Fusce rutrum ligula a magna sollicitudin, eget fringilla nisi tempor. Phasellus feugiat, velit vitae convallis semper, risus ex pretium ligula, a pretium erat tortor vitae dui. Praesent at imperdiet erat.</p>
          </div>
        </div>

      </div>
    </div>
  </div>

 <br>
 <br>
 <br>

</div>
