
<div class="container">


  <div class="page-header">
    <h1>So, you've found Plantah!</h1>
    <div class="col-sm-offset-1">
      <br>
      <p>Hopefully, we can answer some of your questions.</p>
    </div>
  </div>

  <br>
  <br>

  <div class="container-content">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-1">

        <div class="col-sm-5">
          <h2>What is Plantah?</h2>
        </div>

        <div class="row">
          <div class="col-sm-offset-1">
            <p>Plantah is a garden planning web tool. It is an amalgamation of
              all of the gardening information that I've wanted easy access to.
              It was designed out of the desire to make it simpler to create a
              garden plan, by placing all of the
              information that you need, in an easy-to-find format. For you, I hope
              that Plantah becomes a resource that you can rely on to either begin
              your gardening experience, or widen your experience by giving you fresh ideas
              for new combinations in your beds.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>



  <div class="container-content">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-1">

        <div class="col-sm-5">
          <h2>How does Plantah Work?</h2>
        </div>

        <div class="row">
          <div class="col-sm-offset-1">
            <p>Simply find a plant that you would like to begin with on the home
            page, and start planning. By clicking the plant's button, you will be
            brought to the plant's individual page where you can see all of its relevant
            information. Get an idea about to plant near it by viewing its 'friends'
            and 'foes.'</p>
            <p>Plantah was built with Ruby on Rails. Individuals plants exist
            in a Plants table, storing all the information that you need to know
            to get the plant in the ground and growing. Plants are associated with
            other plants in order to model the companion vs antagonist (friend and foe)
            relationship that many plants have.</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container-content">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-1">

        <div class="col-sm-5">
          <h2>What is Plantah's future?</h2>
        </div>

        <div class="row">
          <div class="col-sm-offset-1">
            <p>Plantah will be a robust web application, where users can design and share
            their own, unique garden plans. The tool has been built to be extendable
            to accomodate many users, although those features are not currently active.
            Those users will be able to model their plans with a feature that allows them
            to diagram their garden beds. Using Plantah's
            database, they will have immediate access to how many of those plants they
            can fit into a given area, and whether that plant's neighbors are 'friends'
            or 'foes.'</p>
            <p>That is the dream. The seed is planted.</p>
          </div>
        </div>

      </div>
    </div>
  </div>

 <br>
 <br>
 <br>

</div>
