@import "bootstrap-sprockets";
@import "bootstrap";

$tan: #d1d186;
$blue: #516959;
$green: #2f4838;
$orange: #9c4e33;
$red: #d17d54;
$light_red: #e8bea9;
$pink: #e3c4a4;

body{
  //background-color: $light_red;
}

.jumbotron{
  position: relative;
  //background: image-url('bean.JPG') no-repeat center center;
  //background-color: $blue;
  background: radial-gradient(at bottom, $blue, $green);
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 5px;
  color: white;
}

.navbar{
  background-color: $red;
  margin-bottom: 0;
}

.navbar .nav > li > a {
  color: white;
}

.navbar .navbar-brand{
  color: white;
}

.container .plant-list {
  //background-color: $pink;
  margin-top: 30px;
  border-radius: 7px;
}

.list-group-item{
  margin: 20px;
  background-color: $blue;
  border-radius: 5px;
  //border-color: $pink;
}

.list-group-item a {
  padding: 25px;
  font-size: 18px;
  color: white;
}


//button which enables search on index jumbotron
#indexSearch{
  background-color: $red;
  color: white;
}


//to help with animations
#search{
  display: none;
}

#button{
  background-color: $red;
  color: white;
}

.plant-name-box{
  //background-color: $pink;
  color: $green;
  padding: 10px;
  margin: 10px;
  border-radius: 7px;
}

.plant-name-box h1 {
  font-size: 65px;
}

.plant-info h3, .plant-info p {
  display: inline;

}

.plant-info{
    padding: 10px;
}

.plant-info p {
  font-size: 20px;
  font-weight: bold;
  color: $green;
}
.plant-info-box{
  background-color: #d8906d;
  padding: 15px;
  border-radius: 7px;
}
