/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

$tan: #d1d186;
$blue: #516959;
$green: #1b2920;
$orange: #9c4e33;
$red: #d17d54;
$pink: #e3c4a4;

body{
  //background-color: $tan;
}

.navbar{
  background-color: $red;

  margin-bottom: 0;
}

.navbar .nav > li > a {
  color: white;
}

.navbar .navbar-brand{
  color: white;
}

#index-ul {
  background-color: $tan;
  margin-top: 20px;
  border-radius: 7px;
}

.list-group-item{
  margin: 20px;
  background-color: $blue;
  border-radius: 5px;
  border-color: $tan;
}

.list-group-item a {
  padding: 25px;
  font-size: 22px;
  color: white;
}
